<ng-include src="'app/components/partials/views/_nav_bar.html'" onload="" autoscroll=""></ng-include>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>My playlists</h3>
      <div class="add-playlist-box" style="margin-bottom:15px;">
        <input class="form-control" style="width:auto; display: inline;" placeholder="Playlist name..." type="text" ng-model="playlistName" name="" value="">
        <button class="btn btn-primary" type="button" ng-click="addPlaylist()" name="button">Add</button>
      </div>
      <div class="list-group-badge">
        <div class="list-group">
          <a href="" class="list-group-item" ng-class="{'active': currentPlaylist === undefined}" ng-click="selectPlaylist(playlist)">
            Likes
          </a>
          <a href="" class="list-group-item" ng-class="{'active': currentPlaylist.playListId == playlist.playListId}" ng-click="selectPlaylist(playlist)" ng-repeat="playlist in playlists">
            {{playlist.playListName}}
            <button class="btn btn-danger" ng-click="removePlaylist(playlist)" type="button" name="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>My Liked Video</h3>
      <p ng-if="videos.length === 0">There is no video in playlist.</p>
      <div class="panel panel-info" ng-repeat="video in videos | orderBy: 'createAt' : true">
        <div class="panel-heading">
          <a href="#/viewVideo/{{video.videoId}}">{{video.videoName}}</a>
        </div>
        <div class="panel-body" style="padding:0px;">
          <iframe width="100%" height="300" ng-src="{{video.videoUrl | trusted}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="panel-footer">
          <div class="glyphicon glyphicon-thumbs-up">{{video.numOfLike}}</div>
          <div class="glyphicon glyphicon-eye-open">{{video.numberOfView}}</div>
          <div class="glyphicon glyphicon-comment">{{video.numOfComment}}</div>
          <div class="glyphicon glyphicon-calendar">{{video.createAt}}</div>
          <div style="float: right;">
            Created by:
            <a href="#/user/{{video.creater.userId}}">
              {{video.creater.fullName}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
