<ng-include src="'app/components/partials/views/_nav_bar.html'" onload="" autoscroll=""></ng-include>
<div class="container" ng-controller="InformationCtrl">
  <div class="col-xs-7 col-sm-7 col-md-7">
    <h3>My Videos</h3>
    <div class="panel panel-info" ng-repeat="video in videos | orderBy: 'createAt' : true">
      <div class="panel-heading">
        <a href="#/viewVideo/{{video.videoId}}">{{video.videoName}}</a>
      </div>
      <div class="panel-body" style="padding:0px;">
        <iframe width="100%" height="380" ng-src="{{video.videoUrl | trusted}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="panel-footer">
        <div class="glyphicon glyphicon-thumbs-up">{{video.numOfLike}}</div> 
        <div class="glyphicon glyphicon-eye-open">{{video.numberOfView}}</div> 
        <div class="glyphicon glyphicon-comment">{{video.numOfComment}}</div> 
        <div class="glyphicon glyphicon-calendar">{{video.createAt}}</div>
        <div style="float: right;" ng-show="btnAccess">
          <a href="#/video/{{video.videoId}}/edit">
            <button class="btn btn-primary btn-xs">Edit</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1"></div>

  <div class="col-xs-4 col-sm-4 col-md-4">
    <div class="userInformation">
      <div class="avatar row">
        <img src="{{avatarUrl}}">
        <div class="name"><h3>{{user.fullName}}</h3></div>
      </div>
      <div class="stt">
        <div>Day Join: {{user.createAt}}</div> 
        <div>Number Of Video Uploaded: {{numOfVideo}}</div>
        <div>Number Of Favorite Video: {{numOfFV}}</div>
      </div>
      <div>
        <button class="btn btn-primary form-control" ng-show="followBtn" ng-click="followUser()">Follow</button>
        <button class="btn btn-danger form-control" ng-show="unfollowBtn" ng-click="unFollowUser()">Unfollow</button>
      </div>
      <div class="row follow_info">
        <div class="col-md-6">
          <a style="cursor: pointer;" ng-click="listAllFollowing()"> {{numOfFollowing}} following </a>
        </div>
        <div class="col-md-6">
          <a style="cursor: pointer;" ng-click="listAllFollowers()"> {{numOfFollowers}} followers </a>
        </div>
      </div>

      <div class="listUserFollow" ng-show="listUserFollowing">
        <div ng-repeat="following in all_following">
          <hr>
          <img src="assets/images/noavatar.jpg" ng-if="following.avatarUrl==null">
          <img src="{{following.avatarUrl}}" ng-if="following.avatarUrl!=null">
          <a href="#/user/{{following.userId}}"> {{following.fullName}} </a>
        </div>
      </div>

      <div class="listUserFollow" ng-show="listUserFollower">
        <div ng-repeat="follower in all_followers">
          <hr>
          <img src="assets/images/noavatar.jpg" ng-if="follower.avatarUrl==null">
          <img src="{{follower.avatarUrl}}" ng-if="follower.avatarUrl!=null">
          <a href="#/user/{{follower.userId}}"> {{follower.fullName}} </a>
        </div>
      </div>

    </div>
  </div>
</div>