<ng-include src="'app/components/partials/views/_nav_bar.html'" onload="" autoscroll=""></ng-include>
<div class="container" ng-controller="InformationCtrl">
  <div class="col-sm-8">
    <h3>My Video Management</h3>
  </div>

  <div class="col-sm-4">
    <div class="userInformation">
      <div class="avatar row">
        <img src="{{avatarUrl}}">
        <div class="name"><h3>{{name}}</h3></div>
      </div>
      <div class="stt">
        <div>Day Join: {{dayJoin}}</div> 
        <div>Number Of Video Uploaded: {{numOfVideo}}</div>
        <div>Number Of Favorite Video: {{numOfFV}}</div>
      </div>
    </div>
  </div>
</div>