.board.badge-post-container {
  .post {
    &:first-child {
      width: 50%;
      .title {
        font-size: 36px
      }
    }
    width: 25%;
    position: relative;
    padding: 0;
    &:hover .overlay {
      background-color: #000;
      opacity: 0.3;
    }
    .title {
      position: absolute;
      bottom: 5%;
      left: 5%;

      color: white;
      font-size: 16px;
      font-weight: bold;
    }
    @media screen and (max-width: 1000px) {
      &:first-child {
        width: 100%;
      }
      width: 50%;
      .title {
        font-size: 24px;
      }
    }
    @media screen and (max-width: 650px) {
      &:not(:first-child) .title {
        font-size: 14px;
      }
    }
  }
}

article.post {
  padding-bottom: 30px;
  .title a {
    font-weight: bold;
    font-size: 20px;
  }
}
