.userInformation{
  background-color: #DEDEDE;
  margin: 20px;
  padding: 10px 15px 5px;
  display: block;
  border-radius: 25px;
}
.avatar img {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 10px;
}
.avatar .name {
  margin-left: 80px;
}
.avatar {
  display: block;
}
.stt {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
}
.follow_info {
  text-align: center;
  margin-top: 10px;
}
.listUserFollow {
  text-align: center;
  margin-top: 10px;
}