<ng-include src="'app/components/partials/views/_nav_bar.html'" onload="" autoscroll=""></ng-include>
<div class="container" ng-controller="PasswordCtrl">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8">
      <form role="form" name="passwordForm">
        <h3>Change Password</h3>
        <div class="alert alert-{{alert_status}}" ng-hide="alert_hide">
          {{alert_content}}
        </div>
        <div class="form-group">
          <label>Old Password:<span class="required">**</span></label>
          <input type="password" class="form-control" name="oldPassword" ng-model="oldPassword" required>
        </div>
        <div class="form-group">
          <label>New Password:<span class="required">**</span></label>
          <input type="password" class="form-control" name="newPassword" ng-model="newPassword" required>
        </div>
        <div class="form-group">
          <label>Password Confirm:<span class="required">**</span></label>
          <input type="password" class="form-control" name="passwordConfirm" ng-model="passwordConfirm" required>
        </div>
        <button ng-disabled="passwordForm.$pristine || passwordForm.$dirty && passwordForm.$invalid " class="btn btn-primary" ng-click="changePassword()">Save</button>
        <a href="#/"><button class="btn btn-default">Cancel</button></a>
      </form>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4">
      <!-- Load Video??? -->
    </div>
  </div>
</div>